<div style="text-align: center;">
  <h1 class="blog-title" style="margin: 0;"><%= @blog_post.title %></h1>
  <p class="blog-meta" style="margin: 0;">
    <strong>Author:</strong> <%= @blog_post.user.email %> |
    <strong>Status:</strong> <%= @blog_post.status.capitalize %>
  </p>
</div>

  <hr>

  <div class="blog-content">
    <%= raw @blog_post.content %>
  </div>
  <hr>
  <div class="actions">
    <%= link_to "Back to Dashboard", authenticated_root_path, class: "btn btn-secondary" %>
    <% if current_user == @blog_post.user %>
      <%= link_to "Edit Blog Post", edit_blog_post_path(@blog_post), class: "btn btn-warning" %>
    <% end %>
  </div>
